In [1]:
print("Hello World! I wonder why that is always the default coding text to start with.")

Hello World! I wonder why that is always the default coding text to start with.

In [2]:
124.45+564.25

688.7

In [3]:
23-11.5

11.5

In [4]:
12*144

1728

In [5]:
176/4

44.0

In [6]:
string1 = "Hello my name is "
string2 = "Danielle Lamb"
string3 = string1+string2
string3

'Hello my name is Danielle Lamb'

In [7]:
list = ["I am ", 24, "years", "old"]
print(list)

['I am ', 24, 'years', 'old']

In [8]:
list.append("on 3/14/2020")
print(list)

['I am ', 24, 'years', 'old', 'on 3/14/2020']

In [9]:
tuple = ("This is my", 4, "class", "at Bellevue University")
print(tuple)

('This is my', 4, 'class', 'at Bellevue University')